<?php defined('PANEL_ACCESS') or die('No direct script access.'); ?>

<!DOCTYPE html>
<html>
  <head>
    <title>Backend | <?php echo $this::$site['title'];?></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="shortcut icon" href="<?php echo $this::$site['title'];?>/favicon.ico">

    <!-- css  -->
    <link rel="stylesheet" href="<?php echo $this->Assets('themify-icons.css','fonts/themify-icons');?>"/>
    <link rel="stylesheet" href="<?php echo $this->Assets('app.css','css');?>"/>
    <!-- vars -->
    <script> var site_url = "<?php echo $this::$site['url']; ?>";</script>
  </head>
  <body>


