<?php $this->partial('head',[]); ?>
<!-- wrapper -->
<main id="wrapper">
    <!-- content -->
    <section id="content">
      <!-- Main  page -->
      <div class="login-panel">
        <div class="logo">
          <img src="<?php echo $this->Assets('morfy-logo.png','img');?>">
        </div>
        <form class="form" method="POST" action="">
          <input type="hidden" name="csrf" value="<?php echo Token::generate(); ?>">
          <input type="email" name="email" placeholder="email@site.com" required>
          <input type="password" name="pass" required>
          <input type="submit" name="login" value="Enter">
        </form>
      </div>
      <div class="error-password">
        <?php echo $error; ?>
      </div>
    </section>
</main>
<?php $this->partial('footer',[]); ?>